import sys

from dataplatform.core.argparser import get_arguments
from dataplatform.core.logger import get_logger
from dataplatform.{{template `project_name_alphanumeric_underscore` .}}.inference.predict import predict_batch

logger = get_logger(__name__)


def main():
    args = get_arguments(sys.argv)
    output_table_name = args[0]
    model_alias = args[1]
    model_name = args[2]
    logger.info(
        f"Running batch inference for model {model_name} with alias {model_alias} "
        f"and output table {output_table_name}"
    )
    predict_batch(
        output_table_name,
        model_alias,
        model_name,
    )


if __name__ == "__main__":
    main()

