import sys

from dataplatform.{{template `project_name_alphanumeric_underscore` .}}.model_deployment.deploy import (
    deploy_model_version,
)
from dataplatform.{{template `project_name_alphanumeric_underscore` .}}.train.train_model import train_model

model_name = sys.argv[1]
deployment_job_id = sys.argv[2]


def main():
    model_uri, _metrics = train_model()
    registered_model = deploy_model_version(
        model_name=model_name,
        deployment_job_id=deployment_job_id,
        model_uri=model_uri,
    )
    return registered_model


if __name__ == "__main__":
    main()