import sys

from dataplatform.client.managed_table_client import ManagedTableClient
from dataplatform.core.argparser import get_arguments
from dataplatform.core.logger import get_logger
from dataplatform.transformation.config_reader import read_config
from dataplatform.transformation.cleanser import cleanse
from dataplatform.transformation.data_loader import load_tables_from_config

logger = get_logger(__name__)

if __name__ == "__main__":
    args = get_arguments(sys.argv)
    managed_table_client = ManagedTableClient()
    target_table_name: str = f"sandbox.template.example_data"
    
    # Load transformation configuration
    config = read_config(
        config_name="silver_{{.project_name}}.yml",
        package="dataplatform.{{.project_name}}.config"
    )

    loaded_config = load_tables_from_config(config)

    cleansed_config = cleanse(config=loaded_config, args=args)
    
    cleansed_df = cleansed_config["example_data"]["dataframe"]

    managed_table_client.overwrite(cleansed_df, target_table_name)