# yaml-language-server: $schema=../../../../../../schemas/table_loader_schema.json
# Gold layer configuration for {{.project_name}} data transformation
example_data:
  table_name: "silver.<schema>.table_name"
  select_columns: 
    ["pk", "data_col"]