# yaml-language-server: $schema=../../../../../../schemas/table_loader_schema.json
# Silver layer configuration for {{.project_name}} data transformation
example_data:
  table_name: "sandbox.template.example_data"
  rename_columns: []
  standardize_date_columns: []
  select_columns: 
    ["pk", "data_col"]
  normalize_column_values: []